<div class="footer-logo"></div>
<div class="footer-text">
    <p class="footer-text__item">사업지 : 충청남도 아산시 탕정면 매곡리248번지 (아산탕정지구 상업4-1-1)</p>
    <p class="footer-text__item">홍보관 : 충청남도 천안시 서북구 공원로 219 지스퀘어 1층</p>
    <p class="footer-text__item">·시행 우리자산신탁㈜<span class="footer-separator">|</span>·위탁 범우홀딩스㈜<span class="footer-separator">|</span>·시공 일진건설산업㈜<span class="footer-separator">|</span>·인테리어 ㈜한샘</p>
    <p class="footer-text__item">·분양대행 ㈜해냄플래닝<span class="footer-separator">|</span>·온라인대행:(주)하이그로우마케팅그룹 | 사업자등록번호 : 742-81-02455</p>
    <p class="footer-text__item footer-text__item-copyright">Copyright by BACHHOUSETJ. All Rights Reserved</p>
</div>