
<h1 class="header-logo">
    <a href="index.html" class="header-logo__link">천안레이크마크</a>
</h1>
<nav class="header-menu">
    <ul class="header-menu-list">
        <li class="header-menu__item">
            <a href="p_sub_1.html" class="header-menu__link">사업개요</a>
        </li>
        <li class="header-menu__item">
            <a href="p_sub_2.html" class="header-menu__link">브랜드소개</a>
        </li>

        <li class="header-menu__item">
            <a href="p_sub_3.html" class="header-menu__link">입지환경</a>
        </li>

        <li class="header-menu__item">
            <a href="p_sub_4.html" class="header-menu__link">프리미엄</a>
        </li>

        <li class="header-menu__item">
            <a href="p_sub_5.html" class="header-menu__link" >언론보도</a>
        </li>

        <li class="header-menu__item">
            <a href="p_sub_6.html" class="header-menu__link">오시는길</a>
        </li>
    </ul>
</nav>
<div class="header-right-content">
    <a href="p_sub_7.html" class="header-customer__link">관심고객등록</a>
    <a href="tel:041-565-5888" class="header-tel"></a>
</div>

<!-- 전체 메뉴 -->
