
<h1 class="header-logo">
    <a href="index.html" class="header-logo__link">천안레이크마크</a>
</h1>
<nav class="header-menu">
    <ul class="header-menu-list">
        <li class="header-menu__item">
            <a href="overview.html" class="header-menu__link">사업안내</a>
            <ul class="header-menu-depth">
                <li class="header-menu-depth__item">
                    <a href="overview.html" class="header-menu-depth__link">사업개요</a>
                </li>
                <li class="header-menu-depth__item">
                    <a href="brand.html" class="header-menu-depth__link">브랜드소개</a>
                </li>
                <li class="header-menu-depth__item">
                    <a href="sketch.html" class="header-menu-depth__link">입지환경</a>
                </li>
                <li class="header-menu-depth__item">
                    <a href="premium.html" class="header-menu-depth__link">프리미엄</a>
                </li>
                <li class="header-menu-depth__item">
                    <a href="location.html" class="header-menu-depth__link">오시는길</a>
                </li>
            </ul>
        </li>
        <li class="header-menu__item">
            <a href="sitesub.html" class="header-menu__link">단지안내</a>
            <ul class="header-menu-depth">
                <li class="header-menu-depth__item">
                    <a href="sitesub.html" class="header-menu-depth__link">단지/동호수배치도</a>
                </li>
                <!--<li class="header-menu-depth__item">
                    <a href="complex_sketch.html" class="header-menu-depth__link">단지스케치</a>
                </li>
                <li class="header-menu-depth__item">
                    <a href="landscaping.html" class="header-menu-depth__link">조경안내</a>
                </li>
                <li class="header-menu-depth__item">
                    <a href="community.html" class="header-menu-depth__link">커뮤니티</a>
                </li>
                <li class="header-menu-depth__item">
                    <a href="aiq_home.html" class="header-menu-depth__link">AiQ HOME 시스템</a>
                </li>-->
            </ul>
        </li>

        <li class="header-menu__item">
            <a href="plane.html" class="header-menu__link">세대안내</a>
            <ul class="header-menu-depth">
                <li class="header-menu-depth__item">
                    <a href="plane.html" class="header-menu-depth__link">타입안내</a>
                </li>
                <li class="header-menu-depth__item">
                    <a href="unit_sketch.html" class="header-menu-depth__link">유니트스케치</a>
                </li>
                <li class="header-menu-depth__item">
                    <a href="e_modelhouse.html" class="header-menu-depth__link">e-모델하우스</a>
                </li>
                <li class="header-menu-depth__item">
                    <a href="interior.html" class="header-menu-depth__link">인테리어</a>
                </li>
            </ul>
        </li>

        <li class="header-menu__item">
            <a href="schedule.html" class="header-menu__link">분양안내</a>
            <ul class="header-menu-depth">
                <!--<li class="header-menu-depth__item">
                    <a href="schedule.html" class="header-menu-depth__link">분양캘린더</a>
                </li>-->
                <!-- <li class="header-menu-depth__item">
                  <a href="checklist.html" class="header-menu-depth__link">청약체크리스트</a>
                </li> -->
                <!-- <li class="header-menu-depth__item">
                <a href="winner_document.html" class="header-menu-depth__link">서류검수 안내문</a>
              </li> -->
                        <!-- <li class="header-menu-depth__item">
                <a href="contract_info.html" class="header-menu-depth__link">계약안내문</a>
              </li> -->
                <li class="header-menu-depth__item">
                    <a href="supply.html" class="header-menu-depth__link">공급안내</a>
                </li>
                <li class="header-menu-depth__item">
                    <a href="notice.html" class="header-menu-depth__link">입주자모집공고</a>
                </li>
                <!--<li class="header-menu-depth__item">
                    <a href="change_info.html" class="header-menu-depth__link">명의변경안내 </a>
                </li>-->
                <!-- <li class="header-menu-depth__item">
                <a href="preliminary_winner.html" class="header-menu-depth__link">예비당첨자 명단</a>
              </li>
                                  <li class="header-menu-depth__item">
                <a href="subscription_apply.html" class="header-menu-depth__link">무순위 청약신청 안내</a>
              </li>
                                  <li class="header-menu-depth__item">
                <a href="subscription_winner.html" class="header-menu-depth__link">무순위 당첨자 명단</a>
              </li> -->
            </ul>
        </li>

        <!--<li class="header-menu__item">
            <a href="payment.html" class="header-menu__link" >방문예약</a>
            <ul class="header-menu-depth">
                <li class="header-menu-depth__item">
                    <a href="payment.html" class="header-menu-depth__link">방문예약</a>
                </li>
                &lt;!&ndash;<li class="header-menu-depth__item">
                   <a href="document.html" class="header-menu-depth__link">서류검수 방문예약</a>
               </li>
               <li class="header-menu-depth__item">
                   <a href="document_result.html" class="header-menu-depth__link">예약확인및취소</a>
               </li>
               <li class="header-menu-depth__item">
                   <a href="contract.html" class="header-menu-depth__link">계약 방문예약</a>
               </li>
               <li class="header-menu-depth__item">
                   <a href="contract_result.html" class="header-menu-depth__link">예약확인및취소</a>
               </li> &ndash;&gt;
            </ul>
        </li>-->

        <li class="header-menu__item">
            <a href="media.html" class="header-menu__link">홍보센터</a>
            <ul class="header-menu-depth">
                <li class="header-menu-depth__item">
                    <a href="media.html" class="header-menu-depth__link">홍보영상</a>
                </li>
                <li class="header-menu-depth__item">
                    <a href="news.html" class="header-menu-depth__link">언론보도</a>
                </li>
                <!-- <li class="header-menu-depth__item">
                  <a href="https://www.youtube.com/channel/UC2xvefP8k1PTpfc2GbPA8gA" class="header-menu-depth__link" target="_blank">더샵TV</a>
                </li> -->
                <!-- <li class="header-menu-depth__item">
                              <a href="event.html" class="header-menu-depth__link">이벤트</a>
      </li> -->
            </ul>
        </li>
    </ul>
</nav>
<div class="header-right-content">
    <a href="customer.html" class="header-customer__link">관심고객등록</a>
    <a href="tel:041-555-7988" class="header-tel"></a>
</div>

<!-- 전체 메뉴 -->
